<% if notice %>
  <div class="ui info message">
    <i class="close icon"></i>  
    <div class="content">
      <div class="header">Info</div>
      <p><%= notice %></p>
    </div>
  </div>
<% end %>

<h1>Personas</h1>
<div class="ui special cards">
    <% @publications.each do |publication| %>
    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted button">
                  <%= link_to 'Ver más', publication %>
              </div>
            </div>
          </div>
        </div>
        <%= image_tag publication.photo.thumb('300x300#').url if publication.photo_stored? %>
        <%= image_tag 'default.png', size:'300x300' if !publication.photo_stored? %>
      </div>
      <div class="content">
        <a class="header">
          <%= "#{publication.person_name}, #{publication.age}" %>
        </a>
        <div class="meta">
          <span class="date">
            <%= publication.date_of_disappearance %>
          </span>
        </div>
      </div>
      <div class="extra content">
        <a>
          <%= publication.sex%>
        </a>
      </div>
    </div>
  <% end %>
</div>
<br/>  
<%= paginate @publications %>